@layer base {
  .btn {
    @apply px-6 py-2 rounded font-semibold cursor-pointer  transition-all border border-primary focus:outline-none focus-visible:ring-2 focus-visible:ring-blue-500 focus-visible:border-blue-500 focus-visible:z-10;
  }
  .btn-primary {
    @apply bg-primary text-white hover:bg-green-50 hover:text-green-600 transition;
  }
  .btn-secondary {
    @apply bg-secondary text-white hover:bg-green-50 hover:text-green-600 transition;
  }
  .btn-gray {
    @apply bg-gray-100 hover:bg-gray-200 text-gray-700;
  }
}
